# Prerequisite

Please ensure that the following files can be found on the root directory, Data folder. building_metadata.csv, train.csv, weather_train.csv, primary_use_metadata.csv.

Dataset can be found at: https://www.kaggle.com/c/ashrae-energy-prediction/data

In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\sebastian\anaconda3\envs\tensorflow-sessions\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\sebastian\anaconda3\envs\tensorflow-sessions\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sebastian\anaconda3\envs\tensorflow-sessions\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sebastian\anaconda3\envs\tensorflow-sessions\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in c:\users\sebastian\anaconda3\envs\tensorflow-sessions\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\users\sebastian\anaconda3\envs\tensorflow-sessions\lib\site-packages (1.18.5)

# Import library

In [2]:
import pandas as pd
import numpy as np

#  Import dataset

In [3]:
#Import dataset
building_metadata = pd.read_csv("Data/Raw/building_metadata.csv")
primary_use_metadata = pd.read_csv("Data/Processed/primary_use_metadata.csv")

train = pd.read_csv("Data/Raw/train.csv")
weather_train = pd.read_csv("Data/Raw/weather_train.csv")
test = pd.read_csv("Data/Raw/test.csv")
weather_test = pd.read_csv("Data/Raw/weather_test.csv")

#Dupe dataset
building_metadata_C = building_metadata.copy() 
train_C = train.copy()
weather_train_C = weather_train.copy()
primary_use_metadata_C = primary_use_metadata.copy()
test_C = test.copy()
weather_test_C = weather_test.copy()

In [4]:
#Remove primary_use with the id
building_metadata_C = pd.merge(building_metadata_C, primary_use_metadata_C, on=['primary_use'])
building_metadata_C = building_metadata_C.drop(columns=['primary_use'])

In [5]:
building_metadata_C.fillna({'floor_count':1, 'year_built':int(building_metadata['year_built'].mean())}, inplace=True)

# Combine dataset

Train

In [6]:
#Combine CSVs
combined_dataset_train = train_C.merge(building_metadata_C, how='left', on = ['building_id'], validate='many_to_one')\
.merge(weather_train_C, how='left', on = ['site_id', 'timestamp'], validate='many_to_one')
#combined_dataset = building_metadata_C.merge(train_C, on='building_id').merge(weather_train_C, on=['site_id', 'timestamp'])

In [7]:
combined_dataset_train.head()

,building_id,meter,timestamp,meter_reading,site_id,square_feet,year_built,floor_count,primary_use_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,2016-01-01 00:00:00,0.0,0,7432,2008.0,1.0,0,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,1,0,2016-01-01 00:00:00,0.0,0,2720,2004.0,1.0,0,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
2,2,0,2016-01-01 00:00:00,0.0,0,5376,1991.0,1.0,0,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
3,3,0,2016-01-01 00:00:00,0.0,0,23685,2002.0,1.0,0,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
4,4,0,2016-01-01 00:00:00,0.0,0,116607,1975.0,1.0,0,25.0,6.0,20.0,NaN,1019.7,0.0,0.0

Test

In [8]:
combined_dataset_test = test_C.merge(building_metadata_C, how='left', on = ['building_id'], validate='many_to_one')\
.merge(weather_test_C, how='left', on = ['site_id', 'timestamp'], validate='many_to_one')

In [9]:
combined_dataset_test.head()

,row_id,building_id,meter,timestamp,site_id,square_feet,year_built,floor_count,primary_use_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,0,2017-01-01 00:00:00,0,7432,2008.0,1.0,0,17.8,4.0,11.7,NaN,1021.4,100.0,3.6
1,1,1,0,2017-01-01 00:00:00,0,2720,2004.0,1.0,0,17.8,4.0,11.7,NaN,1021.4,100.0,3.6
2,2,2,0,2017-01-01 00:00:00,0,5376,1991.0,1.0,0,17.8,4.0,11.7,NaN,1021.4,100.0,3.6
3,3,3,0,2017-01-01 00:00:00,0,23685,2002.0,1.0,0,17.8,4.0,11.7,NaN,1021.4,100.0,3.6
4,4,4,0,2017-01-01 00:00:00,0,116607,1975.0,1.0,0,17.8,4.0,11.7,NaN,1021.4,100.0,3.6

In [10]:
#Cleanup unnecessary datas
del building_metadata, train, weather_train, primary_use_metadata
del building_metadata_C, train_C, weather_train_C, primary_use_metadata_C

# Export CSVs

In [11]:
#Export as csv by site_id
import os

In [12]:
# combined_dataset_train_N = combined_dataset_train.sample(frac=0.3, random_state=1)
# combined_dataset_test_N = combined_dataset_test.sample(frac=0.3, random_state=1)

# directory = 'Data/Processed/'
# subdir = os.path.join(directory, 'dataset_train_nerfed' + '.csv')
# combined_dataset_train_N.to_csv(subdir, index = False)
# subdir = os.path.join(directory, 'dataset_test_nerfed' + '.csv')
# combined_dataset_test_N.to_csv(subdir, index = False)

In [13]:
directory = 'Data/Processed/'
subdir = os.path.join(directory, 'dataset_train' + '.csv')
combined_dataset_train.to_csv(subdir, index = False)

In [14]:
directory = 'Data/Processed/'
subdir = os.path.join(directory, 'dataset_test' + '.csv')
combined_dataset_test.to_csv(subdir, index = False)

In [15]:
#Cleanup unnecessary datas
del combined_dataset_train, combined_dataset_test